---
import Layout from '@/layouts/Layout.astro';
import FormComponent from '@/components/form';
import QueryProvider from '@/components/query-provider';
const siteHost = Astro.site ? new URL(Astro.site).host : '';
---

<Layout meta={{ title: 'shortener' }}>
  <main>
    <span>knst shortener</span>
    <QueryProvider client:load>
        <FormComponent client:load siteHost={siteHost} />
    </QueryProvider>
  </main>
</Layout>
